:root {
  --color-bg: #1a1a1a;
  --color-text: #ffffff;
  --color-red: #a4161a;
  --color-grey: #444444;
  --color-black: #000000;

  --font-base: 'Cormorant Garamond', serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body{
    background-color: var(--color-bg);
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  padding: 1rem;
}

header > :nth-child(1) img {
  height: 40px;
}

header > :nth-child(2) {
  display: none; 
}

header > :nth-child(3) {
  display: block;
  background: none;
  border: none;
  padding: 0;
}

header > :nth-child(3) img {
  height: 24px;
}

/*PRIMERA SECCION*/
.hero {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-image: url("img/tomy.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text {
  color: var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 5vh; 
}

.hero-text h1 {
  font-size: 2rem;
  max-width: 80vw;
}

/* CAJA DONDE ESTA EL FORM */
.reserva {
  padding: 2rem 1rem;
  max-width: 600px;
  text-align: center;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.reserva h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.reserva form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reserva input, .reserva select {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  background-color: var(--color-text);
  color: var(--color-bg);
  width: 100%;
  box-sizing: border-box;
}

/*BOTON (clase reutilizable para todos los botones)*/
.button {
  background-color: var(--color-red);
  color: var(--color-text);
  font: var(--font-base);
  border: 5px solid transparent;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 4px;
  width: 100%;
  transition: all 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: var(--color-text);
  color: var(--color-red);
  border: 5px solid var(--color-red);
}


/*SECCION 2*/
#grid1{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(5, 100vw);
}

#grid1 article:nth-child(1){
background-image: url(img/descripcion.jpg);
background-size: cover;
background-position: center;
text-align: center;
color: var(--color-text);
font-size: 2rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10%;
padding: 1rem;
}

#grid1 article:nth-child(2){
background-image: url(img/logopeaky.jpg);
background-size: cover;
background-position: center;
}

#grid1 article:nth-child(3){
background-image: url(img/ubicacion.jpg);
background-size: cover;
background-position: center;
text-align: center;
color: var(--color-text);
font-size: 2rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10%;
padding: 1rem;
}

#grid1 article:nth-child(4){
background-image: url(img/polly.jpg);
background-size: cover;
background-position: center;
}

#grid1 article:nth-child(5){
background-image: url(img/protagonistas.jpg);
background-size: cover;
background-position: center;
}

#grid1 article:nth-child(6){
display: none;
}

#grid1 article p{
font-size: 1.8rem;
width: 80%;
}

/*SECCION 3*/
.titulo-2 {
  color: var(--color-text);
  text-align: center;
  font-size: 2rem;
  margin: 3rem auto 1rem;
  width: 80vw;
  max-width: 800px;
}

#grid2 {
  display: grid;
  justify-content: space-around;
  gap: 2rem;
  background-color: var(--color-bg);
  padding: 3rem 1rem;
}

#grid2 .button:hover {
  background-color: var(--color-text);
  color: var(--color-red);
  border: 5px solid var(--color-red);
}

#grid2 article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey);
  border-radius: 20px;
  padding: 1rem;
  width: 90vw;
  max-width: 400px;
  overflow: hidden;
  text-align: center;
}

#grid2 article img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

#grid2 article h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--color-text);
}

#grid2 article p {
  font-size: 1rem;
  color: var(--color-text);
  padding: 1rem;
  margin: 1rem 0;
}

#grid2 .button {
  background-color: var(--color-red);
  color: var(--color-text);
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

#grid2 h2 {
  grid-column: 1 / -1;
  font-size: 2rem;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 1rem;
}

.etiqueta{
    display: none;
}

/*FOOTER*/
footer {
  background-color: var(--color-black);
  color: var(--color-text);
  text-align: center;
  padding: 2rem 1rem;
  font-family: var(--font-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; 
}

footer p {
  font-size: 1.5rem;
  position: relative;
}

.redes {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.redes a img {
  width: 28px;
  height: 28px;
}

/*ELEMENTO NO ESTATICO*/
.logo-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-black);
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-fixed img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.logo-fixed a :hover{
  height: 80px;
  width: 80px;
}

/*RESPONSIVE PARA TABLETS*/

@media (min-width: 600px) and (max-width: 899px) {

header > :nth-child(2) {
    display: flex;
    gap: 1.5rem;
  }

header > :nth-child(2) a {
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-base);
    font-size: 1rem;
  }

header > :nth-child(3) {
    display: none;
  }
.hero-text {
    padding-top: 0; 
  }

.hero-text h1 {
    font-size: 4vw;
  }

.reserva {
    max-width: 80%;
    position: absolute;
    top: 40%;
    right: 10%;
  }

.reserva form {
    flex-direction: row;
    gap: 1rem;
  }

#grid1{
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(4, 50vw);
}

#grid1 article:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#grid1 article:nth-child(6){
    background-image: url(img/rodaje.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color-text);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    padding: 1rem;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

#grid2 {
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: repeat(2, 60vh);
    justify-content: center;
    gap: 2rem;
  }

#grid2 article {
        padding: 1.5rem 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

#grid2 article h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

#grid2 article p {
    font-size: 0.95rem;
    line-height: 1.4;
    margin: 1rem 0;
    padding: 0;
  }

#grid2 .button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 6px;
    width: 80%;
    }

#grid2 article:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
#grid2 article:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
#grid2 article:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
#grid2 article:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

#grid2 img{
    height: 50%;
    object-fit: cover;
  }

}

/*RESPONSIVE PARA DESKTOP*/

@media (min-width: 900px) {

header > :nth-child(2) {
    display: flex;
    gap: 1.5rem;
  }

header > :nth-child(2) a {
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-base);
    font-size: 1rem;
  }

header > :nth-child(2) a:hover {
  color: var(--color-red);
}

header > :nth-child(3) {
    display: none;
  }

.hero {
  height: 70vh;
  background-position: top center;
}

.hero-text {
  position: absolute;
  left: 5vw;
  text-align: left;
  width: 50vw;
}

.hero-text h1 {
  font-size: 3rem;
}

.reserva {
    position: absolute;
    top: 30%;
    right: 10vw;
    max-width: 300px;
  }
.reserva form {
    flex-direction: column;
    gap: 1rem;
  }

#grid1{
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(2, 25vw);
}

#grid1 article:nth-child(2){
    grid-column: 1 / 2 ;
    grid-row: 2 / 3;
}
#grid1 article:nth-child(3){
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
#grid1 article:nth-child(6){
    background-image: url(img/rodaje.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    color: var(--color-text);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    padding: 1rem;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

#grid2 {
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: repeat(2, 60vh);
    justify-content: center;
    gap: 2rem;
    background-color: var(--color-bg);
    padding: 3rem 1rem;
  }

#grid2 article {
    padding: 1.5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--color-grey);
    border-radius: 20px;
    text-align: center;
  }

#grid2 article h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

#grid2 article p {
    font-size: 0.95rem;
    line-height: 1.4;
    margin: 1rem 0;
    padding: 0;
  }

#grid2 .button {
    padding: 0.6rem 1rem;
    font-size: 0.95rem;
    border-radius: 6px;
    width: 80%;
    align-self: center;
  }

#grid2 img {
    height: 50%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

.etiqueta{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: -5px;
    background-color: var(--color-red);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
}

  #grid2 article {
    position: relative;
  }

}



